*.o
*.d
*.lst
*.scvd
*.out
*.uvgui*.*
~*

archive.zip

sources/generated/

sources/GTC-3/Listings/
sources/GTC-3/Objects/
sources/GTC-3/Listings-Debug/
sources/GTC-3/Objects-Debug/
sources/GTC-3/DebugConfig/
