*.o
*.d
*.lst
*.scvd
*.out
*.uvgui*.*
~*

archive.zip

sources/generated/

sources/GTC-3/DebugConfig/
sources/GTC-3/Listings-103/
sources/GTC-3/Objects-103/
sources/GTC-3/Listings-Debug-103/
sources/GTC-3/Objects-Debug-103/
sources/GTC-3/Listings-303/
sources/GTC-3/Objects-303/
sources/GTC-3/Listings-Debug-303/
sources/GTC-3/Objects-Debug-303/
